.slider__item {
  max-width: 100%;
  height: 650px;
}

.slider__item-01 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246081/slider-1_hpjoda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-02 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246083/slider-2_zvzogt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-03 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246085/slider-3_c85q4w.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-04 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246089/slider-4_c2gwh3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-05 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246090/slider-5_qrupu7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-06 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246091/slider-6_fwhez8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-07 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("https://res.cloudinary.com/di9qvtepw/image/upload/q_auto/v1728246080/slider-7_k07g0z.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slider {
  overflow: hidden;
}

.slider__content {
  padding-top: 150px;
  z-index: 10;
}

.slider__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.reserve__btn {
  background: #fff !important;
  color: #000d6b !important;
  border: none;
  outline: none;
}

.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
  color: #000d6b;
}

.reserve__btn:hover {
  background: #000d6b;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .slider__item {
    height: 530px;
    max-width: 100vw;
  }

  .slider__content {
    margin-top: -50px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider__item {
    height: 450px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }
}
